<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="none">
    <ion-item
      *ngFor="let message of messages"
      [class.message-sent]="message.sender === currentUser"
      [class.message-received]="message.sender !== currentUser"
    >
      <ion-label slot="{{ message.sender === currentUser ? 'end' : 'start' }}">
        <div class="message-bubble">
          {{ message.content }}
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>
