<ion-app>
  <ion-split-pane *ngIf="showSidebar" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header> 
            <ion-avatar>
            <img alt="Silhouette of a person's head" src="assets/img/img_pkg.png" />
          </ion-avatar> </ion-list-header>
          <ion-note>{{userEmail}}</ion-note>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-item lines="none" (click)="logout()">
            <ion-icon
              aria-hidden="true"
              slot="start"
              ios="log-out"
              md="log-out"
            ></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <ion-router-outlet *ngIf="!showSidebar" id="main-content"></ion-router-outlet>
  <ion-toast
    [isOpen]="isToastOpen"
    message="Logout successful!"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
    color="success"
  ></ion-toast>
</ion-app>
