<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button *ngFor="let item of tabItems" [tab]="item.title.toLowerCase()" [routerLink]="item.url"  routerLinkActive="selected">
      <ion-icon [name]="item.icon"></ion-icon>
      <ion-label>{{ item.title }}</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="home" routerLinkActive="selected">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button id="action-sheet-market" routerLinkActive="selected">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Market</ion-label>
      <ion-action-sheet
        trigger="action-sheet-market"
        header="My markets"
        [buttons]="actionSheetMarket"
      ></ion-action-sheet>
    </ion-tab-button>
    <ion-tab-button id="action-sheet-exchange" routerLinkActive="selected">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
      <ion-label>Exchange</ion-label>
      <ion-action-sheet
        trigger="action-sheet-exchange"
        header="My Exchanges"
        [buttons]="actionSheetExchange"
      ></ion-action-sheet>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
